html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Muli', sans-serif;
	background-color: #f7f7f7;
	position: relative;
	min-height: 100vh;
	padding-bottom: 3rem;
}

#wrapper {
	max-width: 900px;
}