footer {
    background-color: whitesmoke;
    padding-top: 5px;
}

#copyright {
    text-align: center;
    padding-bottom: 10px;
}

#contact {
    align-items: center;
    position: relative;
    width: 100%;
    text-align: center;
}

#contact p {
    display: inline-block;
}

#contact a {
    color: inherit;
    display: inline-block;
    margin: 0.15rem;
    text-decoration: underline;
    cursor: pointer;
}
